@import '../../../../styles/scss/mixins';
@import '../../../../styles/scss/variables';

.content {
    @media screen and (max-width: $phone) {
        padding-left: 50px;
    }
    .icon {
        margin-bottom: 30px;
        @media screen and (max-width: $phone) {
            display: grid;
        }
    }

    .title {
        @include font_20_600();
        margin-bottom: 16px;
        color: $black;
    }

    .description {
        @include font_16_500();
        color: $grey;
        @media screen and (max-width: $phone) {
            @include font_14_500();
        }
    }
}
