//colors
$black: var(--black);     //   #1E1E1E;    #ECECEC;
$black_2: var(--black_2);     //  #0F1333;   #ECECEC;

$blue: var(--blue);     //   #4C5EFE;      #68F7C3;

$white: var(--white);     //  #f7f7f7;    #1E1E1E;
$white_2: var(--white_2);     //  #ffffff;   #0F1333;

$grey: var(--grey);     //   #656a8d;   #9598b0;
$grey_2: var(--grey_2);     //  #fcfcfc;   #fcfcfc;
$grey_3: var(--grey_3);     //  #9598b0;   #9598b0;
$grey_4: var(--grey_4);     //  #f1f1f1;   #f1f1f1;


$gradient_text: var(--gradient_text);

//media
$tablet: 1200px;
$phone: 744px;