//colors
$black: #1E1E1E;
$black_2: #0F1333;

$blue: #4C5EFE;

$white: #F7F7F7;
$white_2: #FFFFFF;

$grey: #656A8D;
$grey_2: #fcfcfc;
$grey_3: #9598B0;
$grey_4: #F1F1F1;

//media
$tablet: 1200px;
$phone: 744px;